In [1]:
from infertrade.algos.community.allocations import change_relationship, change_relationship_OOS

In [2]:
from infertrade.PandasEnum import PandasEnum
import numpy as np
import pandas as pd


def simulated_market_data_4_years_gen():
    """This function creates ~4 years of simulated daily data for testing interfaces."""
    # Creates data with open, high, last, low, turnover and volume.
    open = np.cumprod(
        [1 + 0.1 * (np.random.random() - np.random.random()) for _ in range(1000)])
    high = open * [1 + 0.1 * (np.random.random()) for _ in range(1000)]
    low = open * [1 - 0.1 * (np.random.random()) for _ in range(1000)]
    close = (high + low) / 2
    last = close
    research = [1 + 0.1 * (np.random.random()) for _ in range(1000)]
    turnover = [100_000 + 10_000 * np.random.random() for _ in range(1000)]
    volume = [10_000 + 1000 * np.random.random() for _ in range(1000)]
    return pd.DataFrame(
        {
            "open": open,
            "close": close,
            "high": high,
            "low": low,
            "last": last,
            "research": research,
            "turnover": turnover,
            "volume": volume,
        }
    )

In [3]:
df = simulated_market_data_4_years_gen()
df.rename(columns={"close": "price"}, inplace=True)

In [4]:
df_infertrade_OOS = change_relationship_OOS(df)
df_infertrade = change_relationship(df)

In [5]:
df_infertrade_OOS

,open,price,high,low,last,research,turnover,volume,signal,allocation
0,0.955649,0.965714,1.045685,0.885742,0.965714,1.062986,107417.287802,10289.485944,1.062986,0.000000
1,0.920886,0.909852,0.959342,0.860362,0.909852,1.008246,107754.006994,10180.502715,1.008246,0.000000
2,0.979203,0.946550,0.999228,0.893871,0.946550,1.020660,101722.998621,10879.741018,1.020660,0.000000
3,0.949422,0.937643,0.966750,0.908535,0.937643,1.029702,102090.186430,10976.293282,1.029702,0.000000
4,0.883611,0.895709,0.940314,0.851105,0.895709,1.066050,103079.485735,10765.623792,1.066050,0.000000
...,...,...,...,...,...,...,...,...,...,...
995,0.028876,0.030073,0.031588,0.028557,0.030073,1.078029,106471.409856,10389.151551,1.078029,-4.016983
996,0.030153,0.029934,0.031019,0.028849,0.029934,1.042435,104630.020641,10000.939450,1.042435,1.154426
997,0.030087,0.030769,0.031767,0.029772,0.030769,1.059410,103378.332599,10267.730007,1.059410,-2.603809
998,0.030587,0.030085,0.032197,0.027974,0.030085,1.064241,108011.380193,10045.333714,1.064241,-1.710135
999,0.029148,0.029194,0.030403,0.027984,0.029194,1.070339,100920.585123,10036.411634,1.070339,-1.799247

In [6]:
df_infertrade

,open,price,high,low,last,research,turnover,volume,signal,allocation
0,0.955649,0.965714,1.045685,0.885742,0.965714,1.062986,107417.287802,10289.485944,1.062986,0.000000
1,0.920886,0.909852,0.959342,0.860362,0.909852,1.008246,107754.006994,10180.502715,1.008246,0.000000
2,0.979203,0.946550,0.999228,0.893871,0.946550,1.020660,101722.998621,10879.741018,1.020660,0.000000
3,0.949422,0.937643,0.966750,0.908535,0.937643,1.029702,102090.186430,10976.293282,1.029702,0.000000
4,0.883611,0.895709,0.940314,0.851105,0.895709,1.066050,103079.485735,10765.623792,1.066050,0.000000
...,...,...,...,...,...,...,...,...,...,...
995,0.028876,0.030073,0.031588,0.028557,0.030073,1.078029,106471.409856,10389.151551,1.078029,-3.589826
996,0.030153,0.029934,0.031019,0.028849,0.029934,1.042435,104630.020641,10000.939450,1.042435,1.060495
997,0.030087,0.030769,0.031767,0.029772,0.030769,1.059410,103378.332599,10267.730007,1.059410,-2.319048
998,0.030587,0.030085,0.032197,0.027974,0.030085,1.064241,108011.380193,10045.333714,1.064241,-1.515424
999,0.029148,0.029194,0.030403,0.027984,0.029194,1.070339,100920.585123,10036.411634,1.070339,-1.595556